doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Lets Work Out
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row
      .small-12.columns
        h1 Lets Work Out
    .row
      .small-8.columns
        table#exercises
          thead
            tr
              th Name
              th Time
              th Calories
              th Date
          tbody
       .small-4.columns
          button#newExercise New Exercise
          .row
            .small-12.columns
              label Name
              input#name
              label Time
              input#time
              label Calories
              input#cals
              label Date
              input#date
          .row
            .small-12.columns
                button#create Create Exercise
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main.js')

