extends ../shared/template

block content
  .row
    .small-12.columns
      .titleWrapper
        h3 Your Notes

  .row
    .small-12.columns
      #noteWrapper
        each note in notes
          .oneNote
            a(href='notes/'+note._id.toString()).noteTitle= note.title
            .noteDate= note.dateCreated.toDateString()
            .noteTag= note.tags




