extends ../shared/template

block content
  .titleWrapper2
    h5 CREATE A NEW NOTE

  .row
    .small-4.small-centered.columns
      #newNoteWrapper
        form#newNote.fillOut(action='/notes', method='post')
          label Title
          input(type='text', name='title', required)
          label Date Created
          input(type='date', name='dateCreated', required)
          label Tags
          input(type='text', name='tags', required)
          button#createNote Create Note
        
  .row
    .small-12.columns
      .spacer
  .row
    .small-6.small-centered.columns
      #textAreaWrapper
        h4 Enter Note Here
        textarea(placeholder='I need to finish this project', rows='15', cols='500', form='newNote', name='body', required)



