extends ../shared/template

block content
  h5 ONE NOTE


  .row
    .small-12.columns
      #singleNoteWrapper
        .oneNote
          .noteTitle= title
          .noteDate= dateCreated
          .noteTags= tags


  .row
    .small-12.columns
      #noteBody
        =body
  .rwo
    .small-4.columns
      form(action='/notes/'+_id, method='post')
        input(type='hidden', name ='_method', value='delete')
        button DELETE NOTE
