@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:400,700);
@bgColor: lightsteelblue;
@color1: lightseagreen;
@color2: tomato;

body{
  background-color: @bgColor;
  text-align: center;
  font-family: 'Alegreya Sans SC', sans-serif;
}

h1{
  font-family: 'Alegreya Sans SC', sans-serif;
  color: @color1;
  text-shadow: 2px 2px lightgrey;
  font-weight: bold;
  font-size: 56px;
}

table{
  margin-top: 30px;
  margin-bottom: 30px;
  width: 100%;
  border: 2px solid @color1;
  background-color: lighten(@bgColor, 10%);
}

#space{
  height: 50px;
  border: 0px;
}

fieldset{
  margin: auto;
  width: 575px;
  border: 2px solid @color1;
  background-color: lighten(@bgColor, 10%);
}

legend{ 
  color: @color1;
}

label{
  color: @color2;
}

.image {
  width: 140px;
  height: 140px;
  border: 2px solid white;
  border-radius: 40px;
}

td{
  height: 150px;
  width: 150px;
  background-size: cover;
}

#photocontain{
  height: 275px;
  width: 525px;
  border: 2px solid @color1;
  margin-bottom: 20px;
  overflow: auto;
}

#photocontain div {
  height: 225px;
  width: 225px;
  background-size: cover;
  margin:10px;
  border: 2px solid grey;
  float: left;
}

#wrapper {
  height: 250px
  width: 250px;
}

textarea {
  height: 100px;
}

button{
  background-color: @color1;
  box-shadow: 2px 2px 2px 2px grey;
  border: 2px solid lightgrey;
}


#addPhoto{
  background-color: @color1;
  box-shadow: 2px 2px 2px 2px grey;
  border: 2px solid lightgrey;
}

input{
  border: 1px solid @color2;
}
