body {
  background-color: #b0c4de;
  text-align: center;
}
table {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
#space {
  height: 50px;
  border: 0px;
}
fieldset {
  margin: auto;
  width: 575px;
  border: 2px solid #20b2aa;
  background-color: #d4dfed;
}
legend {
  color: #20b2aa;
}
label {
  color: #ff6347;
}
td {
  height: 100px;
  width: 100px;
  background-size: cover;
}
#photocontain {
  height: 275px;
  width: 525px;
  border: 2px solid #20b2aa;
  margin-bottom: 20px;
  overflow: auto;
}
#photocontain div {
  height: 225px;
  width: 225px;
  background-size: cover;
  margin: 10px;
  border: 2px solid grey;
  float: left;
}
#wrapper {
  height: 250px
  width: 250px;
}
textarea {
  height: 100px;
}
button {
  background-color: #20b2aa;
  box-shadow: 2px 2px 2px 2px grey;
  border: 2px solid lightgrey;
}
#addPhoto {
  background-color: #20b2aa;
  box-shadow: 2px 2px 2px 2px grey;
  border: 2px solid lightgrey;
}
input {
  border: 1px solid #ff6347;
}
