doctype html
html
  head
    meta(charset='utf-8')
    title Qunit Test Page
    link(rel='stylesheet', href='/css/qunit.css')
  body
    #qunit
    #qunit-fixture


  <script src="/js/vendor/jquery.js"></script>
  <script src="/js/vendor/lodash.js"></script>
  <script src="/js/source/stock.js"></script>
  <script src="/js/source/portfolio.js"></script>
  <script src="/js/vendor/qunit.js"></script>
  <script src="/js/source/test.js"></script>

