doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Jade Tutorial
    link(rel='stylesheet', href='/css/style.css')
    script(src='/js/vendor/jquery.js')
    script(src='/js/source/main.js')
  body
    header
      h1 Welcome to Jade!
      img(src='http://www.petliferadio.com/doggydog.jpg')
    #section1
      ul
        li a
        li b
        li c
      - var firstName = "matt";
      h2= firstName
      - for(var i = 0; i < 100; i++)
        h3 hello
        h2= i
    #secton2
      h2 Section 1
      p This is Paragraph 1
      p
        | This is paragraph 2 <br>
        span this is a span

