doctype html
html
  head
    meta(charset='utf-8')
    title Qunit Test Page
    link(rel='stylesheet', href='/css/qunit.css')
  body
    #qunit
    #qunit-fixture



  <script src="/resources/qunit.js"></script>
  <script src="/resources/tests.js"></script>

